@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("theme.css");
@import url("../pygments.css");

a.reference.external::after {
    font-family: FontAwesome;
    content: "\f08e";
    color: #b3b3b3;
    vertical-align: super;
    font-size: 60%;
    margin: 0 .2em;
    text-decoration: none;
    display: inline-block;
}

/* Fix for GitHub icon display */
a.isaac-github-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
}

a.isaac-github-icon::before {
    content: "\f09b";
    font-family: 'FontAwesome' !important;
    display: inline-block;
    margin-right: 0.2em;
    font-size: 1.1em;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
}

/* Style GitHub text to be underlined */
a.isaac-github-icon span {
    text-decoration: underline;
}

/* Reset sphinx tabs styling to allow body styles to take precedence */
.sphinx-tabs-panel {
    color: unset !important;
    background-color: unset !important;
}

.sphinx-tabs-tab {
    color: unset !important;
    background-color: unset !important;
}
